<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            Spotify Thinie
        </a>
    </div>
    <!-- end navbar-header -->
</div>
<!-- end #header -->