@model Website.Models.Shared.PostPanel
<div class="panel-container" data-section-id="@Model.ID">
    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading ui-sortable-handle">
            <h4 class="panel-title">@Model.Heading</h4>
            <div class="panel-heading-btn m-l-10">
                @if (Model.IsReloadable)
                {
                    <a id="reload" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-reload"></i></a>
                }
                @if (Model.IsFulscreen)
                {
                    <a class="btn btn-xs btn-icon btn-circle btn-danger pointer" data-click="panel-default"><i class="fa fa-expand"></i></a>
                }
                @if (Model.IsShrinkable)
                {
                    <a class="btn btn-xs btn-icon btn-circle btn-warning pointer" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                }
                @if (Model.IsEditable)
                {
                    <a id="edit" class="btn btn-xs btn-icon btn-circle btn-success pointer"><i class="fa fa-pencil-alt"></i></a>
                }
                @if (Model.IsClosable)
                {
                    <a id="delete" class="btn btn-xs btn-icon btn-circle btn-danger pointer"><i class="fa fa-times"></i></a>
                }
            </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            @Html.Raw(Model.Content)
        </div>
        <script>
            $(document).on('click', '#test', function () {
                $('#myModal').modal('show')
            });
        </script>
        <!-- end panel-body -->
        <!-- begin hljs-wrapper -->
        <div class="hljs-wrapper">
            &nbsp;
            <span class="pull-right">
                <span class="btn-link" data-toggle="tooltip" title="Change who owns this section">OWNER MC OWNERFACE</span> |
                Shared With: <select><option>Reanu Keaves</option></select>
            </span>

        </div>
        <!-- end hljs-wrapper -->
    </div>
</div>