@model Website.Models.Shared.PostPanel

<form class="panel-container" data-section-id="@Model.ID">
    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading ui-sortable-handle">
            <h4 class="panel-title">@Html.TextBoxFor(Model => Model.Heading)</h4>
            <div class="panel-heading-btn m-l-10">
                @if (Model.IsReloadable)
                {
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-success"><i class="fa fa-reload"></i></a>
                }
                @if (Model.IsFulscreen)
                {
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-default"><i class="fa fa-expand"></i></a>
                }
                @if (Model.IsShrinkable)
                {
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                }
                @if (Model.IsClosable)
                {
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                }
            </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            @Html.TextAreaFor(Model => Model.Content, new { rows = 6 })

            <div class="pull-right flex">
                <div id="discard" class="btn btn-m btn-icon btn-primary m-l-5" data-toggle="tooltip" title="Discard"><i class="fa fa-times"></i></div>
                <div id="save" class="btn btn-m btn-icon btn-primary m-l-5" data-toggle="tooltip" title="Save"><i class="fa fa-check"></i></div>
            </div>
        </div>
        <!-- end panel-body -->
        <!-- begin hljs-wrapper -->
        <div class="hljs-wrapper">
            &nbsp;
            <span class="pull-right">
                <span class="btn-link" data-toggle="tooltip" title="Change who owns this section">OWNER MC OWNERFACE</span> |
                Shared With: <select><option>Reanu Keaves</option></select>
            </span>

        </div>
        <!-- end hljs-wrapper -->
    </div>
</form>