    <h3>Step 1</h3>
    <p>
        Enter your username:
    </p>
    <div class="row">
        <label class="col-md-2 text-right m-l-5" for="username">Username: </label>
        <input class="col-md-4 m-l-5" id="username" name="username" placeholder="amgitskriss" />
        <button class="col-md-2 m-l-5" id="fetchPlaylists">Fetch Playlists</button>
    </div>
