@model List<DTO.Playlist>

<hr />
<h3>Playlists</h3>
<p>
    Playlists for @ViewData["username"]
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <input type="checkbox" id="@item.ID" />
            <label for="@item.ID">@item.Name</label>
        </div>
    }
</div>
