@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="form-group" id="step-one">
            <partial name="_Step1" />
        </div>
        <div class="form-group hidden" id="step-two">
            <hr />
        </div>
        <div class="form-group hidden" id="step-three">
            <hr />
        </div>
    </div>
