/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .body-content {
        width: 738px;
    }
}

@media (min-width: 992px) {
    .body-content {
        width: 962px;
    }
}

@media (min-width: 1200px) {
    .body-content {
        width: 970px;
    }
}

.form-control{
    border:none;
}

.m-l-5{
    margin-left: 5px;
}

label{
    margin-bottom: 0px;
    margin-top: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
