<h2 class="float-left">Step 5</h2>
<a class="float-right btn btn-primary btn-lg text-white" id="save-playlists">Save Playlists</a>

<div class="clearfix">Save these new playlists to Spotify.</div>

<ul class="border">
    <li></li>
</ul>