@using Microsoft.Extensions.Configuration
@using System.Web;
@inject IConfiguration Configuration

<div class="content border">
    <h2 class="float-left">Connect to Spotify</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Connect</a></div>

    <div class="clearfix">Login via spotify to begin sorting your playlists.</div>

    <ul class="border hide" >
        <li>Do we already have valid access and refresh tokens? Skip to getting playlists</li>
        <li>
            Submit a login request to <a href="https://accounts.spotify.com/authorize?client_id=@Configuration["Endpoints:Spotify:ClientID"]&response_type=code&redirect_uri=@(HttpUtility.UrlEncode(Configuration["Endpoints:Spotify:Callback"]))&scope=user-read-private%20user-read-email"> Spotify </a> to login.
        </li>
        <li>Take the returned code and keep it in a session</li>
        <li>Request access and refresh tokens</li>
        <li>Store access and refresh tokens in session</li>
    </ul>
</div>
<div class="content border">
    <h2 class="float-left">Step 2</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Get Playlists</a></div>

    <div class="clearfix">Retrieve your playlists.</div>

    <ul class="border">
        <li>Get a list of all playlists and present as a checkable list</li>
        <li>Save new access token returned by API</li>
    </ul>
</div>
<div class="content border">
    <h2 class="float-left">Step 3</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Get Songs</a></div>
    <ul class="clearfix border">
        <li>On request, get all the songs in selected playlists.</li>
        <li>Present complete list of (unique) songs in checkable list, preselected.</li>
        <li>
            Add clustering controls to page
            <ul>
                <li>Desired playlist count</li>
                <li>Minimum playlist size</li>
                <li>Similarity strictness</li>
            </ul>
        </li>
    </ul>
</div>
<div class="content border">
    <h2 class="float-left">Step 4</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Build Playlists</a></div>
    <ul class="clearfix border">
        <li></li>
    </ul>
</div>
<div class="content border">
    <h2 class="float-left">Step 5</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Save Playlists</a></div>
    <ul class="clearfix border">
        <li></li>
    </ul>
</div>