@using Microsoft.Extensions.Configuration
@using System.Web;
@inject IConfiguration Configuration
@model DTO.LoginSession

<div class="content border">
    <h2 class="float-left">Connect to Spotify</h2>
    <a class="float-right btn @(Model != null ? "disabled btn-grey" : "btn-primary") btn-lg" href="https://accounts.spotify.com/authorize?client_id=@Configuration["Endpoints:Spotify:ClientID"]&response_type=code&redirect_uri=@(HttpUtility.UrlEncode(Configuration["Endpoints:Spotify:Callback"]))&scope=user-read-private%20user-read-email">Connect</a>

    <div class="clearfix">Login via spotify to begin sorting your playlists.</div>

    <ul class="border hide">
        <li>Do we already have valid access and refresh tokens? Skip to getting playlists</li>
        <li>
            Submit a login request to <a href=""> Spotify </a> to login.
        </li>
        <li>Take the returned code and keep it in a session</li>
        <li>Request access and refresh tokens</li>
        <li>Store access and refresh tokens in session</li>
    </ul>
</div>

<div id="step-playlists" class="content border">
    <partial name="_GetPlaylists" model="null" />
</div>

<div id="step-tracks" class="content border">
    <partial name="_GetTracks" model="null" />
</div>

<div class="content border">
    <h2 class="float-left">Step 4</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Build Playlists</a></div>
    <ul class="clearfix border">
        <li></li>
    </ul>
</div>
<div class="content border">
    <h2 class="float-left">Step 5</h2>
    <div class="float-right btn btn-primary btn-lg"><a>Save Playlists</a></div>
    <ul class="clearfix border">
        <li></li>
    </ul>
</div>

<script>
    Spotify.init();
</script>